<!DOCTYPE html>
<html>

<head>
  <%-include('partials/head') %>
  <link rel="stylesheet" href='/public/stylesheets/style.css'>
</head>


<body>
  <%-include('partials/navbar') %>
  <h1><%= title %></h1>
  <% db.forEach((trip) => { %>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><%= trip.title %></h5>
      <br />
      <a href="/new/<%= trip.id %>">View Trip Details</a>
      <form method="POST">
        <button type="submit" class='homeButton' formaction="/delete/<%= trip.id %>">Remove Trip</button>
      </form>
    </div>
  </div>
  <%    }) %>
</body>

</html>